body {
	background: #000;
	font: 11px/17px sans-serif;
	color: #fff;
}

body.home {
	min-width: 540px;
}

body.embedded {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
}

a#back-to-top {
	padding: 10px;
	padding-left: 30px;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 11;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,.6);
}

a#back-to-top .pound { 
	font: 12px Georgia, serif;
	color: #888;
}

a#back-to-top:hover {
	text-decoration: none;
}

a#back-to-top:hover .pound {
	color: #fff;
}

h1 {
	font-size: 30px;
	line-height: 40px;
	margin: 70px 30px;
	font-weight: normal;
}

hr {
	width: 1500px;
	margin-top:0px;
	border-bottom:2px dashed;
	border-top:0;
	background:#fff;
}

.dash {
	width: 500px;
	margin-top:0px;
	border-bottom:2px dashed;
	border-top:0;
	background:#fff;
}

a {
	font-weight: bold;
	color: #00c594;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#intro {
	padding-top: 70px;
	min-width: 1150px;
}

.container {
	clear: both;
	padding-top: 10px;
}

.col {
	float: left;
	/* padding: 10px; */
	margin: 0 15px 15px 30px;
	background-color: #fff;
}

.br {
	clear: both;
	line-height: 0;
	height: 0;
}

#intro .col {
	background: transparent;
	color: #888;
}

#intro p.hello {
	font-size: 30px;
	line-height: 40px;
	max-width: 650px;
}

#intro p.hello a {
	color: #fff;
}

#intro p.hello a:hover {
	text-decoration: underline;
}

#intro a#about {
	vertical-align: middle;
	font-weight: normal;
	margin-left: 10px;
	text-align: center;
	padding: 8px 8px 6px 7px;
	background-color: #222;
	font-size: 11px;
}

#intro a#about:hover {
	background-color: #333;
	text-decoration: none;
}

ul {
	list-style-type: none;
	font-size: 1.5em;
	line-height: 22px;
	margin: 15px auto;
	padding-left: 67px;
}

ul.elsewhere a { 
	color: #fff;
}

ul.elsewhere a:hover { 
	text-decoration: underline;
}

ul.elsewhere li.lesser a {
	color: #888;
}

.bin1 {
	/*width: 650px;*/
	margin-right: 50px;
}

.bin2 {
	left: 20px;
	background: transparent;
}

.bin3 {
	margin: 15px;
	padding: 50px 15px;
}

.bin3-text {
	width: 2000px;
}
.bin3-text .left {
	float: left;
}
.bin3-text .contains_description_text {
	float: left;
	padding-left: 100px;
}
.bin3-text .description_text {
	width: 200px;
	padding: 0 15px;
}
.bin3-text .rythemdash {
	width: 100%;
}

.bin4 {
	margin: 15px;
	padding: 100px 15px;
}

.description_text {
	margin: 15px;
	padding: 100px 15px;
	width: 500px;
}

.contains_description_text {
	float: right;
} 

#items {
	padding-bottom: 60px;
	position: relative;
}

.links-yellow a {
	color: #fe0; 
	/*color: #00c594;*/
}

.links-blue a {
	color: #00c594;
}

/* item */
.item {
	width: 200px;
	padding: 10px;
	color: #fff; 
	background: #222;
	position: relative;
}

.loaded .item {
	transition: left 1s, top 1s;
	-webkit-transition: left 1s, top 1s;
	-moz-transition: left 1s, top 1s;
	-o-transition: left 1s, top 1s;
	-ms-transition: left 1s, top 1s;
}

.item img {
	display: block;
	margin: auto;
}

/* item with text below the image */
.item-below .meta {
	margin-top: 10px;
}

/* item with white border */
.item-box {
	background: #000;
	border: 1px solid #fff;
	width: 198px;
}

.item-box .meta {
	margin-top: 10px;
}

/* item with text inside the image */
.item-inside {
	padding: 0;
	width: 220px;
}

.item-inside .meta {
	position: absolute;
	bottom: 0px;
	background: #000;
	margin: 10px;
	padding: 10px;
}

.tags {
	display: block;
	border-top: 1px dotted #444;
	padding-top: 5px;     
	margin-top: 10px;
}

/* detail */
.detail-iland {
	background-color: #fff;
	clear: both;
	color: #222;
	height: 100%;
	width: 100%;
	padding-bottom: 400px;
}

#pro-team-jaguar {
	background-color: transparent;
	padding: 0;
	margin: 0;
	
}

#pro-team-jaguar .bin3 {
	padding: 0;
	margin: 0;
}

.detail-iland h1 {
	color: #000;
	font-family: times, serif;
	font-size: 55px;
	line-height: 80px;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}

.detail-iland h1 a, .detail-iland h1 span {
	color: #000;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 18px solid #000;
	margin-bottom: 20px;
}

.js .detail-iland {
	display: none;
}

.detail-iland a.placeholder {
	display: block;
}

.detail-iland .center {
	text-align: center;
}

.fof canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}